<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>       
  <session-factory>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property> 
    <mapping resource="Corporation.hbm.xml"/>
    <mapping resource="Project.hbm.xml"/>
    <mapping resource="Requirement.hbm.xml"/>
    <mapping resource="Contact.hbm.xml"/>
    <mapping resource="Resources.hbm.xml"/>
  </session-factory>
</hibernate-configuration>